<div class="navbar" id="navbar">
    <h1>Subhan Arts</h1>
    <div class="nav-items" id="nav-items">
        <a routerLink="">Home</a>
        <a>Services</a>
        <a routerLink="/cart" class="navbar-cart">Cart<div>{{cart}}</div></a>
    </div>
    <mat-icon (click)="menuClick()" class="sort" id="sort">sort</mat-icon>
    <mat-icon (click)="menuClick()" class="close" id="close">close</mat-icon>
    <div class="navbar-responsive" id="navbar-responsive">
        <a routerLink="">Home</a>
        <a>Services</a>
        <a routerLink="/cart" class="cart-responsive">Cart <div>{{cart}}</div></a>
    </div>
</div>
<style>
    .title{
        width: 100%;
        margin-top: 65px;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .data{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        align-items: center;
    }
</style>
<div class="title">
    DATA
</div>
<div class="data" *ngIf="!loading">
    <p>Total Products: {{quantity}}</p>
    <p>Total Price: {{price}}</p>
    <p>Average Price: {{avg}}</p>
    <button onclick="window.print()" style="width: 100px; height: 30px; margin: 5px 0px;">Print</button>
    <button onclick="history.back()" style="width: 100px; height: 30px; margin: 5px 0px;">Back</button>
</div>
<div class="data" *ngIf="loading">
    Loading...
</div>
