<div class="navbar" id="navbar">
    <h1>Subhan Arts</h1>
    <div class="nav-items" id="nav-items">
        <a routerLink="">Home</a>
        <a routerLink="/cart" class="navbar-cart">Cart<div>{{cart}}</div></a>
    </div>
    <mat-icon (click)="menuClick()" class="sort" id="sort">sort</mat-icon>
    <mat-icon (click)="menuClick()" class="close" id="close">close</mat-icon>
    <div class="navbar-responsive" id="navbar-responsive">
        <a routerLink="">Home</a>
        <a routerLink="/cart" class="cart-responsive">Cart <div>{{cart}}</div></a>
    </div>
</div>

<div class="title">ADMIN DASHBOARD</div>
<div class="container">
    <a routerLink="/admin/addproduct">ADD</a>
    <a routerLink="/admin/removeproduct">REMOVE</a>
    <a routerLink="/admin/editproduct">EDIT </a>
    <a routerLink="/admin/data">DATA</a>
</div>
